<h1>Your listings</h1>

<% @listings.each do |l| %>
  <%= link_to l.title, host_listing_path(l) %>
  <%= l.status %>
  <%= button_to "delete", host_listing_path(l), method: :delete %>
  <br>
<% end %>
