<% if notice %>
<p class="notice rounded-md bg-yellow-50 p-4 font-medium text-yellow-800"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert rounded-md bg-yellow-50 p-4 font-medium text-yellow-800"><%= alert %></p>
<% end %>
