<h1>New Reservation</h1>

<p>
  <%= @reservation.guest.email %> booked your property "<%= @reservation.listing.title %>"
</p>
<p>
  <%= @reservation.start_date %> to <%= @reservation.end_date %>
</p>
